In [9]:
import pandas as pd

In [22]:
worksheet = pd.read_excel(r'E:\Machine-Learning-Laboratory\09.01.25\Input data 3.xlsx')

In [23]:
print(worksheet)

   Reg No      Name   M1  M2   M3  M4   M5  Average
0     100  Paramesh  100  82   90  95   87     90.8
1     101     Karan   89  91   80  81  100     88.2
2     102     Raman   75  78   56  89   46     68.8
3     104       Joe   78  68   79  78   69     74.4
4     105     Black   89  80  100  52   79     80.0
5     106       Rom   88  23   90  12   50     52.6

In [24]:
def normalize_average(current , minVal , maxVal):
    return (current - minVal)/(maxVal-minVal)

In [25]:
minVal = worksheet['Average'].min()
maxVal = worksheet['Average'].max()

worksheet['Normalized_Average'] = worksheet['Average'].apply(normalize_average, args = (minVal,maxVal))

In [26]:
print(worksheet)

   Reg No      Name   M1  M2   M3  M4   M5  Average  Normalized_Average
0     100  Paramesh  100  82   90  95   87     90.8            1.000000
1     101     Karan   89  91   80  81  100     88.2            0.931937
2     102     Raman   75  78   56  89   46     68.8            0.424084
3     104       Joe   78  68   79  78   69     74.4            0.570681
4     105     Black   89  80  100  52   79     80.0            0.717277
5     106       Rom   88  23   90  12   50     52.6            0.000000

In [27]:
# Display Single Column
print(worksheet['Normalized_Average'])

0    1.000000
1    0.931937
2    0.424084
3    0.570681
4    0.717277
5    0.000000
Name: Normalized_Average, dtype: float64